.section-two {
  padding: 40px 0;
  background-color: black;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-inline: 15px;
  display: flex;
  justify-content: center;
}

.section-two-list {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.section-two-list li {
  padding-left: 6px;
}
